@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
    font-family: Onest, Courier New, Good Vibes monospace, Arial, sans-serif;
    font: size 12px;
    margin: 1px;
}



.uzorr {
  text-align: center;
  padding: 10px 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  text-decoration: none;
  flex: 1;
  max-width: 200px;
}

.uzorr:hover {
  background-color: #000000;
  color: #ffffff;
}

.uzorrs {
  text-align: center;
  padding: 10px 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  flex: 2;
  margin-left: 10px;
  max-width: 200px;
}

.uzorrs:hover {
  background-color: #000000;
  color: #ffffff;
}

button {
  text-align: center;
  margin-right: 20px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  text-decoration: none;
  flex: 1;
  max-width: 200px;
}


button:hover {
  background-color: #000000;
  color: #ffffff;
}

button a {
  color: #000000;
  text-decoration: none;

}

button a:hover{
  color: white;
  text-decoration: none;
  background-color: black;

}

#map {
  width: 100%;
  height: 500px;
  border: 1px solid #ccc;
}
